@mixin flex($aling: center, $justify: center, $direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $aling;
  gap: $gap;
}
@mixin media-break($break, $point) {
  @media screen and ($break: $point) {
    @content;
  }
}
