@use "../abtract/mixins" as layout;
@use "../abtract/varibles" as colors_bg;
.profile {
  @include layout.flex($justify: space-between);
  padding-right: 1rem;
  &__wrapper {
    @include layout.flex($gap: 1rem);
    @include layout.media-break(max-width, 480px) {
      gap: 2rem;
    }
  }
  &__photo {
    width: 2.75rem;
    border-radius: 50%;
  }
  &__information {
    @include layout.flex($aling: flex-start, $direction: column, $gap: 0.15rem);
  }
  &__share {
    padding: 0.65rem;
    cursor: pointer;
    &:hover {
      background-color: colors_bg.$grayish-blue;
    }
    &:hover img {
      filter: brightness(0%) invert(1);
    }
  }
}
