@use "../abtract/varibles" as colors_fonts;
@font-face {
  font-family: manrope_medium;
  src: url("../assets/fonts/Manrope-Medium.ttf");
}

@font-face {
  font-family: manrope_bold;
  src: url("../assets/fonts/Manrope-Bold.ttf");
}

body {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: manrope_medium;
  font-size: 13px;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: colors_fonts.$light-grayish-blue;
}

h1 {
  font-family: manrope_bold;
  font-size: colors_fonts.$lg;
  color: colors_fonts.$very-dark-grayish-blue;
}
p,
span {
  font-family: manrope_medium;
  font-size: colors_fonts.$md;
  text-decoration: none;
  color: colors_fonts.$desaturated-dark-blue;
}

button {
  appearance: none;
  background-color: transparent;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  background-color: colors_fonts.$light-grayish-blue;
}

.profile__information {
  &--name {
    font-family: manrope_bold;
    color: colors_fonts.$very-dark-grayish-blue;
    //
    font-size: 1rem;
  }
  &--date {
    color: colors_fonts.$grayish-blue;
    //
    font-size: 0.9rem;
  }
}
