@use "../abtract/mixins" as layout;
@use "../abtract/varibles" as colors;
.card {
  width: 47rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: colors.$white;
  //
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  //
  &__ {
  }
  &__ {
  }
}
